body {
    margin: 0;
    /* background-color: #F3F3F3; */
    overflow-x: hidden;

  }
  
  *, *::before, *::after {
      font-family: 'Press Start 2P', cursive;
      box-sizing: border-box;
  }
  
  .btn {
    font-size: inherit;
    background-color: #FFB800;
    cursor: pointer;
    padding: 0.5em;
    margin-left: 2vmin;
    margin-right: 2vmin;
    color: #FF0000;
    border-radius: 2vmin;
    border: 2px solid; 
    cursor: pointer;  
  }
  
  .btn:hover, .btn:focus {
    background-color: #b98603;
  }
  
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .hotpot-grid {
    margin: 2vmin;
    display: grid;
    background-color: #614833;
    opacity: 0.15;
    grid-template-rows: repeat(8, 6.5vmin);
    grid-template-columns: repeat(8, 6.5vmin);
  }
  
  .hotpot-grid div {
      border: 0.5px dashed black;
  }
  
  .grid-opponent > .taken,
  .grid-opponent > .boom {
    background-color: hsl(200, 100%, 50%) !important;
    border-radius: 0 !important;
  }
  
  .taken,
  .ship {
    position: relative;
    background-image: url("images/meat.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    --width: 4;
  }
  
  
  .grid-display {
    display: flex;
  }
  
  .ship > div {
    width: 4.6vmin;
    height: 4.6vmin;
  }
  
  .ship {
    width: calc(4.6vmin * var(--width, 1));
    height: calc(4.6vmin * var(--height, 1));
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    margin: 2vmin;
    border-radius: 2vmin;

  }

  .ingr0-container{
    background-image: url("images/aubergine.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    --width: 4;
  }

  .ingr1-container {
    background-image: url("images/fish.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    --width: 4;
  }

  .ingr2-container {
    background-image: url("images/meat.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    --width: 4;
  }

  .ingr3-container {
    background-image: url("images/springonion.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    --width: 4;
  }
  
  .ingr0-container-vertical {
    background-image: url("images/aubergine.svg");
    background-size: cover;
    transform: rotate(90deg);
    --height: 1;
    --width: 4;

  }

  .ingr1-container-vertical {
    background-image: url("images/fish.svg");
    background-size: cover;
    transform: rotate(90deg);
    --height: 1;
    --width: 4;
  }


  .ingr2-container-vertical {
    --height: 1;
    --width: 4;
    background-image: url("images/meat.svg");
    background-size: cover;
    transform: rotate(90deg);


  }
  .ingr3-container-vertical {
    --height: 1;
    --width: 4;
    background-image: url("images/springonion.svg");
    background-size: cover;
    transform: rotate(90deg);
  }
  
  .options {
    font-size: 1.5rem;
    align-items: center;
    flex-direction: column;
  }
  
  .info-text {
    margin: 1rem;
  }
  
  .miss,
  .boom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .boom::after,
  .miss::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
  }
  
  .miss::after {
    background-color: white;
  }
  
  .boom::after {
    background-color: red;
  }
  
  .miss::before {
    content: '';
    position: absolute;
    animation: hit .2s ease-out forwards;
    border: 1vmin solid white;
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
  }
  
  .boom {
    animation: boom .2s ease-out forwards;
  }
  
  @keyframes hit {
    0% {
      opacity: 1;
      transform: scale(0);
    }
  
    100% {
      opacity: 0;
      transform: scale(4);
    }
  }
  
  @keyframes boom {
    0% {
      background-color: red;
    }
  
    100% {
      background-color: hsl(0, 0%, 80%);
    }
  }
  
  .player {
    margin: 2vmin;
  }
  
  .ready {
      font-weight: normal;
      opacity: .25;
      text-decoration: line-through;
  }
  
  .ready.active {
      opacity: 1;
      text-decoration: none;
  } 
  